#badge{
    text-align: center;
    left: 0%;
    width: 100%;
    height: auto;
    white-space: normal;
    line-height: 10px;
}

.github-badge{
    display: inline-block;
    margin-top: 18px;
    margin-right: 2px;
    font-size: 12px;
}

.badge-subject{
    font-family: Arial, Helvetica, sans-serif;
}

.yuanjiao{
    border-radius: 10px 10px 10px 10px;
}